.wrap {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.box {
    flex-basis: initial;
    width:150px;
    height:150px;
    margin:50px 50px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 1.5em;
    vertical-align: middle;
    opacity:1;
}

.box p {
    margin-top:20%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* animations by div */

.opacity:hover {
    transition: opacity 1s ease;
    opacity: 0;
}

.colorchange:hover {
    transition: background-color 0.8s linear 0.1s, color 0.8s linear 0.2s; /* separate multiple properties with comma */
    color:black;
    background-color:gray;
}

.rotate:hover {
    transform: rotate(90deg);
    transition:transform 1s ease;
}

.rotate-transform-origin:hover {
    transform-origin: top left;
    transform: rotate(360deg);
    transition:transform 2s linear;
}

.skew:hover {
    transform:skewX(15deg);
}

.scaleup:hover {
    transform:scale(2);
    transition: transform 1s ease;
}

.scaledown:hover {
    transform:scale(0.1);
    transition: transform 1s ease;
}

.scalex:hover {
    transform:scale(1.5,1);
    transition: transform 1s ease;
}

.scaley:hover {
    transform:scale(1,2);
    transition: transform 1s ease;
}

.translatex:hover {
    transform: translateX(200px);
    transition: transform 1s ease;
}

.translatey:hover {
    transform: translateY(200px);
    transition: transform 1s ease;
}

.translatexy:hover {
    transform: translate(-200px,-200px);
    transition:transform 1s ease;
}

.slidep {
    padding-top:25px;
}

/* target child element on hover */
.slide:hover > .slidep {
    transform:translateX(100px);
    transition:transform 1s ease;
}