.wrap {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.box {
    flex-basis: initial;
    width:150px;
    height:150px;
    margin:50px 50px;
    background-color: black;
    color:white;
    text-align: center;
    font-size: 2em;
    vertical-align: middle;
    /* transition-property: opacity; */
    opacity:1;
}

.box p {
    margin-top:20%;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* animations by div */

.opacity:hover {
    transition: opacity 1s ease;
    opacity: 0;
}

.colorchange:hover {
    transition: background-color 0.8s linear 0.1s, color 0.8s linear 0.2s; /* separate multiple properties with comma */
    color:black;
    background-color:gray;
}

.rotate:hover {
    transform: rotate(90deg);
}

